@()
<script src="@routes.Assets.at("js/jquery-2.1.1.min.js")" type="text/javascript"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js' type="text/javascript"></script>
<script src="@routes.Assets.at("js/main.js")"></script>

<div ng-app="webPortal" ng-controller="trifectaController">
    <h1>test</h1>

<button ng-click="getAthlete()" type="button">Athlete</button>

<button ng-click="listKOMS()" type="button">List KOMS</button>

<button ng-click="listFriends()" type="button">List Friends</button>

<button ng-click="getAthlete()" type="button">Athlete</button>

<button ng-click="getAthlete()" type="button">Athlete</button>

<button ng-click="getAthlete()" type="button">Athlete</button>

</div>
